/Corte1/Prueba1/nbproject/private/
/Corte1/Prueba1/build/
/Corte1/Adapter/nbproject/private/
/Corte1/Adapter/build/
/Corte1/Bridge/nbproject/private/
/Corte1/Bridge/build/
/Corte1/Composite/nbproject/private/
/Corte1/Composite/build/
/Corte1/Facade/nbproject/private/
/Corte1/Facade/build/
/Corte1/Flyweight/nbproject/private/
/Corte1/Flyweight/build/
/Corte1/Proxy/nbproject/private/
/Corte1/Proxy/build/
